<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/pdf-lib@1.4.0"></script>
    <script src="https://unpkg.com/downloadjs@1.4.7"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Blockstamp</title>

    <!-- Bootstrap -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<!-- import bootstrap cdn-->
<link rel="stylesheet" href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity=
"sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">
    <!-- import jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity=
"sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous">
    </script>
    <!-- import popper.js cdn -->
    <script src=
"https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity=
"sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous">
    </script>
    <!-- import javascript cdn -->
    <script src=
"https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity=
"sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous">
    </script>
    <style>
      body{
        font-family: 'Syne', sans-serif; 
      }
      main {
        /* margin-top: 40px; */
      }

      #content {
        display: none;
      }

      form {
        width: 350px;
        margin-bottom: 10px;
      }

      ul {
        margin-bottom: 0px;
      }

      #completedTaskList .content {
        color: grey;
        text-decoration: line-through;
      }
      #the-canvas {
      outline: black 3px solid;
      }
      .container {
  --sidebar-width: 20px;
}

.main {
  display: flex;
}

.sidebar {
  position: fixed;
  overflow-y: auto;
  height: 100%;
  width: var(--sidebar-width);
  z-index: 1;
  background-color: antiquewhite;
  padding-left: 15px;
  padding-right: 25px;
  margin-top: 40px;
}

.content {
  margin-left: var(--sidebar-width);
  flex-grow: 1;
}
.link{
  background-color: pink;
}
.header{
  background-color: green;
}
.uploadBody{
  background-color: white;
}
    </style>
  </head>
  <body>
      <!-- top navbar -->
      <!-- TOP -->
      <nav class="navbar fixed-top flex-md-nowrap p-0 shadow" style="background-color: #e3f2fd;">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="" target="_blank" style="">Blockstamp</a>
        <ul class="navbar-nav px-3">
          <div style="display: flex; align-items: center;">
            <li class="nav-item text-nowrap d-none d-sm-none d-sm-block">
              <small><a class="nav-link" href="#"><span id="account"></span></a></small>
            </li>
              <li>
                <img src="<%= picture %>" alt="" style="border-radius: 15px; margin-left: 10px;" height="25px" width="25px">
              </li> 
          </div>       
        </ul>
      </nav>
      <!-- BOTTOM -->
      <!-- <div class="modern"> -->
      <!-- <div class="container-fluid h-100"> -->
        <main class="main">
          <div class="sidebar">
            <!-- <h4>Sidebar</h4> -->
                  <!-- Navigation links in sidebar-->
                  <!-- <div class="link"> -->
                    <a href="uploads">Uploads</a>
                  <!-- </div> -->
                  <br/>
                  <br/>
                  <a href="settings">Settings</a>
                  <br/>
                  <br/>
                  <a href="#">Link 3</a>
                  <br/>
                  <br/>
                  <a href="#">Link 4</a>
                  <br/>
                  <br/>
                  <a href="#">Sign out</a>
          </div>
          <!-- <div class="content">
            <ul>
              <li>content</li>
              ... 
            </ul>
          </div> -->
        </main>
      <!-- </div> -->

      <!-- This container contains the sidebar
              and main content of the page -->
      <!-- h-100 takes the full height of the body-->
      <div class="container-fluid h-100">
          <div class="row h-100">
              <!-- <div class="col-2" id="green">
                
              </div> -->
              <!--Contains the main content
                      of the webpage-->
                        <div class="" style="margin-left: 100px;">
                          <main role="main" class="col-lg-12 d-flex justify-content-center">
                            <div id="content" style="width: inherit; margin-top: 40px;">
                                <body>
                                    <html>
                                <body>
                                
                                    
                                    <p><%= body.filename %></p>
                                    <p><%= body.originalname %></p>
                                    <p><%= body.recipient %></p>
                                
                                    <h1>modify</h1>
                                    <!-- <form action="/images" method="POST"> -->
                                        <button onclick="modifyPdf()">Modify PDF</button>
                                    <!-- </form> -->
                                  
                                
                                        <div>
                                        <object data="<%= body.filename %>" type="application/pdf" width="300" height="200">
                                          <embed src="<%= body.filename %>" type="application/pdf">
                                        </object>
                                       </div>
                                
                                    <embed src="<%= body.filename %>" width="650" height="800" type="application/pdf">
                                
                                        
                                        <form action="/documentUpload" method="POST" style="background-color: green;">
                                            <h1>this is a form</h1>
                                            <label for="agree">Agree</label>
                                            <input type="checkbox" name="agree" id="agree" required>
                                
                                            <!-- <input type="file" id="myfile" name="image" required onchange="previewFile()"> -->
                                
                                            <button onclick="modifyPdf()">Modify PDF</button>
                                            <h3>end of form</h3>
                                            <button type="submit">submit</button>
                                        </form>
                                
                                </body>
                                <script>
                                
                                    function sayHello(){
                                      console.log("hi");
                                    }
                                    
                                        const { degrees, PDFDocument, rgb, StandardFonts } = PDFLib
                                    
                                        async function modifyPdf() {
                                    
                                          console.log("called");
                                          // Fetch an existing PDF document
                                          const url = '<%= body.filename %>'
                                              const existingPdfBytes = await fetch(url).then(res => res.arrayBuffer())
                                    
                                          // Load a PDFDocument from the existing PDF bytes
                                          const pdfDoc = await PDFDocument.load(existingPdfBytes)
                                          
                                          // Embed the Helvetica font
                                          const helveticaFont = await pdfDoc.embedFont(StandardFonts.Helvetica)
                                    
                                          // Get the first page of the document
                                          const pages = pdfDoc.getPages()
                                          const firstPage = pages[0]
                                    
                                          // Get the width and height of the first page
                                          const { width, height } = firstPage.getSize()
                                    
                                          // Draw a string of text diagonally across the first page
                                          firstPage.drawText('This document digitally signed by' + ' User Name', {
                                            x: 5,
                                            y: height-25,
                                            size: 10,
                                            font: helveticaFont,
                                            color: rgb(0, 0, 0),
                                            // rotate: degrees(-45),
                                          })
                                          var time = Date.now().toString();
                                          firstPage.drawText(time, {
                                            x: 5,
                                            y: height-40,
                                            size: 10,
                                            font: helveticaFont,
                                            color: rgb(0, 0, 0),
                                            // rotate: degrees(-45),
                                          })
                                          firstPage.drawText('somehash', {
                                            x: 5,
                                            y: height-55,
                                            size: 10,
                                            font: helveticaFont,
                                            color: rgb(0, 0, 0),
                                            // rotate: degrees(-45),
                                          })
                                    
                                          // Serialize the PDFDocument to bytes (a Uint8Array)
                                          const pdfBytes = await pdfDoc.save()
                                    
                                          console.log("pdfBytes");
                                          console.log(pdfBytes);
                                    
                                                // Trigger the browser to download the PDF document
                                          download(pdfBytes, "pdf-lib_modification_example.pdf", "application/pdf");
                                        }
                                      </script>
                                </html>
                                </body>
                            </div>

                            

                          </main>

                          
                        </div>
                      </div>
                  
                      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                      <!-- Include all compiled plugins (below), or include individual files as needed -->
                      <!-- <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->
                      <!-- <script src ="../node_modules/web3/dist/web3.js"></script> -->
                      <!-- <script src="../node_modules/truffle-contract/dist/truffle-contract.js"></script>  -->
                      <script src="bootstrap/dist/js/bootstrap.min.js"></script>
                      <script src ="web3.js"></script>
                      <script src="truffle-contract.js"></script> 
                      <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
                      <!-- for pdf render -->
                      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/pdf.min.js"></script>
                      <!-- 
                      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0-beta1/js/bootstrap.min.js"></script> -->
                      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.4/web3.min.js"></script> -->
                      <!-- <script src="https://www.jsdelivr.com/package/npm/truffle-contract"></script> -->
                      <script src="./app.js"></script>
                      <!-- <script>
                        document.getElementById("hid").value = document.getElementsByClassName("content").innerHTML;
                  
                    </script> -->
                  
                  
                    
          </div>
  </body>
    
</html>